{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--home">

    {% include "includes/header.twig" %}

	<!-- Zone Content -->
    <div id="main-scroll" class="main-content">
        <div class="container">

        {{widget('feature', 'feature', {
            'header': 'profile',
            'strapline': 'profile',
            'defaultBgImg': asset("images/feature-image.jpg"),
            'positionTopPercentage': '0',
            'showBtn': false
        })|raw}}

        <div class="homepage-images">
            {{widget('image', 'img1', {
              'src': asset("images/image-1.jpg"),
              'align': 'widget-align-center'
            })|raw}}

            {{widget('image', 'img2', {
              'src': asset("images/image-2.jpg"),
              'align': 'widget-align-center'
            })|raw}}

            {{widget('image', 'img3', {
              'src': asset("images/image-3.jpg"),
              'align': 'widget-align-center'
            })|raw}}

        </div>

            {{zone('main')|raw}}

        </div>
    </div>
</section>

{% endblock %}


{% block bodyscripts %}
{% endblock %}
